<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>LET'S SHORTEN YOUR LINK</h1>
      <h4>Make Your Link Easier to Remember</h4>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= value %>
        </div>
      <% end %>
      <%= form_for @url, url: url_create_path, html: { role: "form" } do |f| %>
        <div class="row">
          <div class="form-group col-sm-12">
            <%= render partial: 'partials/errors', locals: { target: @url } %>
          </div>
          <div class="form-group col-sm-6">
            <%= f.url_field :original_link, class: 'form-control', placeholder: 'Put your destination URL here. ex: http://google.com', required: true %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-1">
            <%= f.select :custom, options_for_select([["Default", 'false'], ["Custom", "true"]], selected: f.object.custom), {class: 'form-control', required: true } %>
          </div>
          <div class="form-group col-sm-5">
            <%= f.text_field :token, class: "form-control #{f.object.custom ? '' : 'hidden'}", placeholder: 'Put your shorten ex: MyMusic' %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <%= f.submit "Create", class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>