<% target = local_assigns[:target] %>

<% if target.present? and target.errors.any? %>
  <div class="panel panel-danger error">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(target.errors.count, "error") %> need to be fixed:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% for message in target.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>